<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="cache-control" content="no-cache">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Materials - $class$ - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/$directory$/">$class$</a>
            </div>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            <div class="hakyll">
                Materials for Classes
            </div>
        </footer>
    </body>
</html>
